<section class="container">
    <h1>Meme details page</h1>
    <table class="table" id="table">
      <thead>
        <tr>
          <th scope="col">Image</th>
          <th scope="col">ID</th>
          <th scope="col">url</th>
          <th scope="col">Name</th>
          <th scope="col">Dimensions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><img class="mb-3" id="img" src="<%=memes.url%>" alt="memes"></td>  
          <td id="id"><%=memes.id%></td>
          <td id="url"><%=memes.url%></td>
          <td id="name"><%=memes.name%></td>
          <td id="dimensions">Height: <%=memes.height%> </br> Width: <%=memes.width%></td>
        </tr>
      </tbody>
    </table>
    <button class="hello" onclick="back()">Close</button></td>
    </section>